<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>chap02-el-jstl</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MemberDTO</display-name>
    <servlet-name>MemberDTO</servlet-name>
    <servlet-class>com.eunah.eljstl.model.dto.MemberDTO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberDTO</servlet-name>
    <url-pattern>/MemberDTO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestOneServlet</display-name>
    <servlet-name>TestOneServlet</servlet-name>
    <servlet-class>com.eunah.eljstl.controller.TestOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestOneServlet</servlet-name>
    <url-pattern>/TestOneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestTwoServlet</display-name>
    <servlet-name>TestTwoServlet</servlet-name>
    <servlet-class>com.eunah.eljstl.controller.TestTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestTwoServlet</servlet-name>
    <url-pattern>/TestTwoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestFourServlet</display-name>
    <servlet-name>TestFourServlet</servlet-name>
    <servlet-class>com.eunah.eljstl.controller.TestFourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestFourServlet</servlet-name>
    <url-pattern>/TestFourServlet</url-pattern>
  </servlet-mapping>
</web-app>