<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eunah.mvc.employee.model.dao.EmployeeMapper">

    <resultMap id="employeeResultMap" type="com.eunah.mvc.employee.model.dto.EmployeeDTO">
        <id property="empId" column="EMP_ID"/>
        <result property="empName" column="EMP_NAME"/>
        <result property="empNo" column="EMP_NO"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="deptCode" column="DEPT_CODE"/>
        <result property="jobCode" column="JOB_CODE"/>
        <result property="salLevel" column="SAL_LEVEL"/>
        <result property="salary" column="SALARY"/>
        <result property="bonus" column="BONUS"/>
        <result property="managerId" column="MANAGER_ID"/>
        <result property="hireDate" column="HIRE_DATE"/>
        <result property="entDate" column="ENT_DATE"/>
        <result property="entYn" column="ENT_YN"/>
    </resultMap>

    <select id="selectAllEmp" resultMap="employeeResultMap">
        SELECT
                EMP_ID
                , EMP_NAME
                , EMP_NO
                , EMAIL
                , PHONE
                , DEPT_CODE
                , JOB_CODE
                , SAL_LEVEL
                , SALARY
                , BONUS
                , MANAGER_ID
                , HIRE_DATE
                , ENT_DATE
                , ENT_YN
          FROM  EMPLOYEE
         WHERE  ENT_YN = 'N'
    </select>

    <select id="selectOneEmpById" resultMap="employeeResultMap">
        SELECT
                EMP_ID
                , EMP_NAME
                , DEPT_CODE
                , JOB_CODE
                , SALARY
          FROM  EMPLOYEE
         WHERE  ENT_YN = 'N'
           AND  EMP_ID = #{ empId }
    </select>

    <select id="selectNewEmpId" resultType="Integer">
        SELECT MAX(EMP_ID) + 1
          FROM EMPLOYEE
    </select>

    <insert id="insertEmp" parameterType="com.eunah.mvc.employee.model.dto.EmployeeDTO">
        INSERT INTO EMPLOYEE (
                                EMP_ID
                                ,EMP_NAME
                                ,EMP_NO
                                ,EMAIL
                                ,PHONE
                                ,DEPT_CODE
                                ,JOB_CODE
                                ,SAL_LEVEL
                                ,SALARY
                                ,BONUS
                                ,MANAGER_ID
                                ,HIRE_DATE
                                ,ENT_DATE
                                ,ENT_YN
                            )
        VALUES (
                #{ empId }
                ,#{ empName }
                ,#{ empNo }
                ,#{ email }
                ,#{ phone }
                ,#{ deptCode }
                ,#{ jobCode }
                ,#{ salLevel }
                ,#{ salary }
                ,#{ bonus }
                ,#{ managerId }
                ,#{ hireDate }
                ,null
                ,'N'
               )
    </insert>

    <update id="updateEmp" parameterType="com.eunah.mvc.employee.model.dto.EmployeeDTO">
        UPDATE EMPLOYEE
           SET EMP_NAME = #{ empName }
         WHERE EMP_ID = #{ empId }
    </update>

    <delete id="deleteEmp">
        DELETE
          FROM EMPLOYEE
         WHERE EMP_ID = #{ empId }
    </delete>

</mapper>