<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>chap02-json-string</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ReceiveJsonStringServlet</display-name>
    <servlet-name>ReceiveJsonStringServlet</servlet-name>
    <servlet-class>com.eunah.json.section01.jsonstring.ReceiveJsonStringServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveJsonStringServlet</servlet-name>
    <url-pattern>/ReceiveJsonStringServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveArrayStringServlet</display-name>
    <servlet-name>ReceiveArrayStringServlet</servlet-name>
    <servlet-class>com.eunah.json.section02.array.ReceiveArrayStringServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveArrayStringServlet</servlet-name>
    <url-pattern>/ReceiveArrayStringServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveJsonArrayervlet</display-name>
    <servlet-name>ReceiveJsonArrayervlet</servlet-name>
    <servlet-class>com.eunah.json.section03.jsonarray.ReceiveJsonArrayervlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveJsonArrayervlet</servlet-name>
    <url-pattern>/ReceiveJsonArrayervlet</url-pattern>
  </servlet-mapping>
</web-app>