<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>practice_0605</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/showErrorPage</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Orderresult</display-name>
    <servlet-name>Orderresult</servlet-name>
    <servlet-class>com.eunah.practice0605.Orderresult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Orderresult</servlet-name>
    <url-pattern>/Orderresult</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>OrderFilter</display-name>
    <filter-name>OrderFilter</filter-name>
    <filter-class>com.eunah.practice0605.OrderFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OrderFilter</filter-name>
    <url-pattern>/OrderFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>com.eunah.practice0605.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectPayment</display-name>
    <servlet-name>RedirectPayment</servlet-name>
    <servlet-class>com.eunah.practice0605.RedirectPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectPayment</servlet-name>
    <url-pattern>/RedirectPayment</url-pattern>
  </servlet-mapping>
</web-app>