<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>chap01-jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MenuOrderServlet</display-name>
    <servlet-name>MenuOrderServlet</servlet-name>
    <servlet-class>com.eunah.jsp.menu.controller.MenuOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuOrderServlet</servlet-name>
    <url-pattern>/MenuOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuOrdeeServlet</display-name>
    <servlet-name>MenuOrdeeServlet</servlet-name>
    <servlet-class>com.eunah.jsp.menu.comtroller.MenuOrdeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuOrdeeServlet</servlet-name>
    <url-pattern>/MenuOrdeeServlet</url-pattern>
  </servlet-mapping>
</web-app>