<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>chap12-listener</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ContextListenerTestServlet</display-name>
    <servlet-name>ContextListenerTestServlet</servlet-name>
    <servlet-class>com.eunah.listener.section01.context.ContextListenerTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextListenerTestServlet</servlet-name>
    <url-pattern>/ContextListenerTestServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.eunah.listener.section01.context.ContextListenerTest</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SessionListenerTestServlet</display-name>
    <servlet-name>SessionListenerTestServlet</servlet-name>
    <servlet-class>com.eunah.listener.section02.session.SessionListenerTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionListenerTestServlet</servlet-name>
    <url-pattern>/SessionListenerTestServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.eunah.listener.section02.session.SessionListenerTest</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>RequestListenerTestServlet</display-name>
    <servlet-name>RequestListenerTestServlet</servlet-name>
    <servlet-class>com.eunah.listener.section03.request.RequestListenerTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestListenerTestServlet</servlet-name>
    <url-pattern>/RequestListenerTestServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.eunah.listener.section03.request.RequestListenerTest</listener-class>
  </listener>
</web-app>