<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>chap11-filter-wrapper</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstFilterTestServlet</display-name>
    <servlet-name>FirstFilterTestServlet</servlet-name>
    <servlet-class>com.eunah.filterWrapper.section01.filter.FirstFilterTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstFilterTestServlet</servlet-name>
    <url-pattern>/FirstFilterTestServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FirstFilter</display-name>
    <filter-name>FirstFilter</filter-name>
    <filter-class>com.eunah.filterWrapper.section01.filter.FirstFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FirstFilter</filter-name>
    <url-pattern>/FirstFilter</url-pattern>
  </filter-mapping>
</web-app>